@media(max-width: 1366px){
    .sec_produto figure .box_pdr {width: 76%;}

    /*--------------------------MEDIA TITULO PRODUTOS------------------------------*/
    .secao .thumb-geral-pdr h1 {font-size: 1.5em;}
    /*--------------------------MEDIA RECEITAS------------------------------*/
    .book-receita .lista-receitas {right: 131px;}
    /*--------------------------MEDIA FORMULARIO FAQ------------------------------*/
    .main_faq .form_faq {padding: 0 1%;}
}
@media(max-width: 1150px){
    .main_nav{height: 150px;}
    .menu{display: none;}

    .box-receita .book-receita{width: 100%;}
    .box-receita .book-receita img{display: none;}
    .book-receita .lista-receitas { position: relative;transform: none;top: 50px;width: 80%; float: left; left: 50px;}
    .book-receita .lista-receitas ul li a{color: #fff;}
}

@media(max-width: 1149px){
    /*-----------------------------------------------MENU MOBI----------------------*/   
    /*-----------------------------------------------LOGO MENU MOBI----------------------*/
.box-logo-mobi{display: block;}
.box-logo-mobi .logo-mobi{width: 70%;margin: 25px 20% 0 10%;float: left;}
.box-logo-mobi .logo-mobi img{width: 200px;}
    .main_nav_mob{        
        display: block;
        position: absolute;
        top: 0;
        width: 70%;
        height: 860px;
        background: #CA9800;
        left: -80%;
    }

    .abre-menu{ position: absolute; left: 0;}
    .main_nav_mob .menu-mobi{
        position: relative;
        top: 50px;
        padding: 0 10%;
    }

    .main_nav_mob .menu-mobi li
    {
        width: 80%;
        border-bottom: 1px solid #FFFF4D; 
        margin-bottom: 10px;
    }

    .main_nav_mob .menu-mobi li a
    {
        color: #fff;
        font-size: 1.5em;
    }
    .active{left: 0;position: absolute;}

    .sidebarBtn{width: 70px; height: 70px;background: transparent;border: 0;position: absolute;top: 20px;right: 10px;cursor: pointer;}
    .sidebarBtn span{display: block;width: 80%;height: 5px;transition: 0.3s;background: #CA9800;margin: 0 10%;}
    .sidebarBtn span:before{content: "";position: absolute;top: 13px;width: 80%;height: 5px;transition: 0.3s;background: #CA9800;left: 0;margin: 0 10%;}
    .sidebarBtn span:after{content: "";position: absolute;top: 48px;left: 0;width: 80%;height: 5px;background: #CA9800;margin: 0 10%;transition: 0.3s;}

    .sidebarBtn.toggle span{background: transparent;}
    .sidebarBtn.toggle span:before{top: 31px; transform: rotate(38deg);}
    .sidebarBtn.toggle span:after{top: 31px; transform: rotate(-38deg);}
}

@media(max-width: 1248px){
    .sec_quem { height: auto;}
    .header_quem .titulo_quem {font-size: 2em;}
    .btn_quem_somos {margin: 25px 30% 70px 30%;}
    .receitas .box_receitas .menu_receitas {position: absolute; top: 400px;}}

@media(max-width: 1055px){
    .header_quem .titulo_quem {margin-top: 22px;}
}

@media(max-width: 1040px){
    .btn_quem_somos {width: 90%;margin: 25px 5% 70px 5%;}
    .receitas .box_receitas .menu_receitas {position: absolute;top: 350px;}
}

@media(max-width: 1000px){
    .receitas .box_receitas .menu_receitas {position: absolute;top: 300px;}
    .desc_quem {padding: 0 1%;}

    /*-----------------------------------SINGLE PRODUTO-----------------------------------*/
    .thumb-single-pdr .border-thumb {padding: 80px 10px;}

    /*-----------------------------------FORMULARIO CONTATO-----------------------------------*/
    .main_contato .form_contato {padding: 35px 5%;}
}

@media(max-width: 900px){
    .sec_produto figure {width: calc( 50% - 20px);margin: 25px 10px; }
    .receitas{display: none;}
}

@media(max-width: 800px){
    .box-rede{display: none;}
    .informe{padding: 0;margin: 0;}
    .social{padding-bottom: 50px;}    

    /*--------------------------MEDIA PRODUTOS------------------------------*/
    .main_produto .box-produtos .category_list a {width: calc(50% - 20px);margin: 25px 10px;}
    .secao .thumb-geral-pdr {width: calc(50% - 20px); margin: 0 10px;}
}

@media(max-width: 660px){    
    /*-----------------------------------PAGE RECEITA-------------------------------*/     
    .book-receita .lista-receitas { position: relative;left: 30px;}
    .book-receita .lista-receitas ul li a{font-size: 1.1em;}
    .receitas .box_receitas .menu_receitas{font-size: 1.5em;    position: absolute;top: 220px;}    
    .des-receita { width: 100%; height: 150px;}  
    .des-receita img{ width: 250px !important; height: 150px;} 
    .des-receita .box-titulo-sing {width: 250px;}
    .des-receita .box-titulo-sing h1 {font-size: 1.5em;}
    .desc_receita h1 {font-size: 2.5em;width: 100%;}    
    .box-desc-receita { width: 90%; margin: 50px 5%;}

    /*-----------------------------------SINGLE PRODUTO-------------------------------*/
    .thumb-single-pdr {width: 100%;}
    .wrap .categoria{width: 100%;}    
    .wrap .categoria .category_list{width: 100% !important; margin-bottom: 50px;float: left;}    
    .wrap .categoria .category_list li{width: 100%;padding: 0;float: left;}
    .wrap .categoria li a{width: 100%;padding: 0;}
}


@media(max-width: 500px){
    .sec_produto figure {width: calc( 100% - 20px);margin: 25px 10px; }    

    /*--------------------------MEDIA PRODUTOS------------------------------*/
    .main_produto .box-produtos .category_list a {width: calc(100% - 20px);margin: 25px 10px;}
    .secao .thumb-geral-pdr {width: calc(100% - 20px); margin: 0 10px;}     
    .main_contato .form_contato .enviar{width: 100%;margin-top: 50px;}    

    /*--------------------------MEDIA FORMULARIO FAQ------------------------------*/
    .main_faq .sec_faq { padding: 0;background: none;}    
    .main_faq .form_faq h1 {font-size: 1.5em;}
    .main_faq .form_faq {padding: 0;}
    .main_faq .form_faq .btn-faq {width: 100%;    }
}
